* {
    font-family:"Microsoft YaHei", Arial, Helvetica, sans-serif;
    font-size: 14px;
}

button {
    transition: background 0.25s ease, color 0.1s ease;
    outline: none;
}

div {
    transition: height 0.25s ease-in-out, width 0.25s ease-in-out;
}


#side-panel {
    z-index: 4;
    position: fixed;
    width: 210px;
    background-color: #30353f;
}

#side-panel, #main-panel {
    padding: 0;
    height: 100%;
}

#main-panel {
    float: right;
    padding-left: 210px;
    width: 100%;
    background-color: #f1f1f1;
}

.control-header {
    line-height: 81px;
    height: 81px;
    vertical-align: middle;
}

#side-header {
    text-align: center;
    line-height: 81px;
    background-color: #373d49;
}

#main-header {
    z-index: 2;
    margin-left: -210px;
    padding-left: 210px;
    box-shadow: 1px 0px 2px #aaaaaa;
    position: fixed;
    width: 100%;
    background-color: #ffffff;
}

#logo {
    display: inline-block;
    height: 44px;
}

.no-padding {
    padding: 0;
}

.nav-list {
    margin-top: 36px;
    list-style: none;
}

.nav-item {
    background-color: #30353f;
    height: 54px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    line-height: 54px;
    font-size: 14px;
    border-left: solid 3px #30353f;
}

.nav-item a {
    color: rgba(255, 255, 255, 0.8);
}

.nav-item:hover {
    background-color: #393c46;
    border-left: solid 3px #393c46;
}

.nav-item.active {
    background-color: #424650;
    border-left: solid 3px #E85B53;
}

.nav-icon {
    padding-right: 18px;
    font-size: 14px;
}

#main-body {
    width: 100%;
    padding: 117px 30px 30px;
}

.display-panel {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
}

.display-title {
    display: inline-block;
    padding-left: 24px;
    border-left: solid #E85B53 6px;
    font-size: 18px;
    margin-bottom: 36px;
    color: rgba(0, 0, 0, 0.6);
}

#data-table {
    margin-top: 64px;
    text-align: center;
    font-size: 15px;
}

#data-table thead tr td,
#data-table tbody tr td {
    vertical-align: middle;
    padding: 10px;
}

#data-table tbody tr td {
    color: rgba(0, 0, 0, 0.5);
}

.table-head {
    background-color: #f8f8f8;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    border: 0;
}

#data-table tbody tr td .btn.btn-link {
    font-size: 15px;
    color: #E85B53;
    padding: 0 6px;
}

.btn-link {
    color: #E85B53;
    padding: 2px;
}

.btn-link:hover {
    color: #e87c78;
}

.btn-link:active {
    color: #d3514d;
}

#search-group {
    width: 300px;
    float:right;
}

#search-group span button {
    border: none;
    background-color: #E85B53;
}

#search-group input {
    background-color: #f5f5f5;
    border: none;
    outline: none;
}

.display-info {
    /*margin-top: 64px;*/
}

.key-value {
    margin-bottom: 24px;
    min-height: 30px;
}

.key-value .key {
    color: rgba(0, 0, 0, 0.3);
    width: 150px;
    font-size: 14px;
    display: inline-block;
}

.key-value .value {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

.pe-report-container {
    margin-left: 150px;
    margin-top: -18px;
}

.pe-item {
    margin-bottom: 10px;
}

.pe-item .key {
    width: 80px;
}

.pe-panel {
    box-shadow: 0 0 0;
}

#login-header-side {
    background-color: #363c48;
    height: 81px;
    width: 210px;
    text-align: center;
    float: left;
    line-height: 81px;
}

#login-header-main {
    background-color: #ffffff;
    padding-left: 210px;
    width: 100%;
    height: 81px;
}

#login-panel
{
    border-top: solid 4px #E85B53;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 32px;
}

.login-title {
    display: inline-block;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    margin-bottom: 32px;
}

.login-label {
    display: inline-block;
    font-size: 14px;
    color:rgba(0, 0, 0, 0.3);
}

.login-control.form-control {
    border: none;
    background-color: rgba(0, 0, 0, 0.05);
    height: 40px;
    margin-bottom: 24px;
    padding: 6px;
    line-height: 28px;
}

.error {
    border: solid 2px #E85B53;
    padding: 4px;
}


.login-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 4px;
}

.login-input {
    height: 28px;
    background-color: transparent;
    border: none;
    outline: none;
    width: 360px;
}

#login-button {
    background-color: #E85B53;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 36px;
    font-size: 14px;
    outline: none;
}

#login-button:hover {
    background-color: #e87c78;
}

#login-button:active {
    background-color: #d3514d;
}

#check-remember {
    height: 14px;
    background-color: #E85B53;
}

#check-remember, #label-remember {
    vertical-align: middle;
    margin: 5px 0 5px 0;
}

#label-remember {
    font-weight: normal;
    color: rgba(0, 0, 0, 0.6);
}

.login-input {
    font-size: 15px;
}

#login-body {
    margin-top: -81px;
    width: 100%;
    height: 100%;
}

.error-tip {
    color: #E85B53;
    display: none;
    margin-left: 8px;
    font-size: 14px;
}

#modal-background {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 15;
    display: none;
    text-align: center;
    line-height: 100%;
}

#modal-panel {
    text-align: left;
    display: inline-block;
    border-top: solid 4px #d3514d;
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-70%);
    -ms-transform: translateY(-70%);
    margin: 0 auto;
    border-radius: 8px;
    max-height: 500fpx;
    overflow: auto;
}

/* 模态框缩放动画 */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0, 0) translateY(-70%);
        opacity: 0;
    }
    to {
        transform: scale(1, 1) translateY(-70%);
        opacity: 1;
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
        transform: scale(1, 1) translateY(-70%);
    }
    to {
        opacity: 0;
        transform: scale(0, 0) translateY(-70%);
    }
}

#dialog-body {
    min-width: 300px;
    padding-top: 36px;
    font-size: 14px;
}


.btn-primary {
    background-color: #E85B53;
    border: none;
}

.display-info .btn-primary {
    height: 36px;
    width: 120px;
}

.btn-primary:hover {
    background-color: #e87c78;
}

.btn-primary:active {
    background-color: #d3514d;
}

.key-value input[type="text"], .key-value input[type="password"] {
    border: none;
    outline: none;
    width: 300px;
    border-radius: 4px;
    padding: 4px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.05);
}

.key-value .select {
    width: 300px !important;
    display: inline-flex;
}

.btn-icon {
    margin-right: 12px;
}

.btn-default {
    border: solid 1px #E85B53 !important;
    color: #E85B53;
    background: white;
}

.btn-default:hover {
    background: #e8dbda;
    color: #E85B53;
}

.display-info .btn-default {
    height: 36px;
    width: 120px;
}

.dialog-footer {
    text-align: right;
    margin-top: 36px;
}

.dialog-footer button {
    display: inline-block;
}

.dialog-footer button {
    width: 100px;
}

.key-small {
    width: 80px !important;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    display: inline-flex;
}

.required-field::after {
    color: #ff0000;
    content: "*";
    margin-left: 4px;
}

#dialog-header {
    border-bottom: solid 1px #dddddd;
    padding-bottom: 12px;
}

.backText {
    font-size: 18px;
}

.ant-tabs-tabpane .display-title {
    margin-top: 24px;
}

.ant-table-body table {
    text-align: center !important;
}
.ant-table-thead > tr > th {
    text-align: center !important;
}

.baby-title {
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-bottom: 36px;
    font-size: 16px;
}

.pe-record {
    margin-bottom: 18px;
    min-height: 33px;
    min-width: 360px;
    line-height: 33px;
}

.pe-record .key {
    width: 100px;
}

.pe-record span.key {
    color: #bbbbbb;
}

.pe-record .value {
    margin-left: 8px;
    width: 200px;
}

.pe-record input[type="text"] {
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 6px;
    font-size: 14px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.05);
}

.pe-record input::placeholder {
    color: #aaaaaa;
}

.pe-record button {
    font-size: 12px;
    display: none;
    padding: 5px;
}

.pe-record span {
    display: inline-block;
}

.pe-record:hover button {
    display: inline;
}

.pe-panel .panel-heading {
    padding: 4px 6px;
}